[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
pyarrow = "*"
google-cloud-storage = "*"
dlt = {extras = ["bigquery"], version = "*"}
google-cloud-bigquery-storage = "*"
requests-cache = "*"

[dev-packages]
pre-commit = "*"
ruff = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
